# Configuration for pylint.
# run pylint --generate-rcfile to see all available options.
   
[REPORTS]
# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=parseable

[DESIGN]
max-args=10
max-locals=25
max-module-lines=2100

[FORMAT]
max-line-length=100

[TYPECHECK]
# this helps prevent pylint from complaining [E1101(no-member), ] Instance of 'Session' has no 'commit' member
ignored-modules=numpy,pandas,sqlalchemy,pydantic,wx
ignored-classes=numpy,pandas,sqlalchemy,pydantic,wx

[MESSAGES CONTROL]
# W0703 too broad exception
# R0903 too few public methods
# R0912 too many branches
# R0915 too many statements
# R0914 too many locals
# R0801 duplicated code (or files too similar)
# E1121 too many arguments in function
disable=W0703,R0903,R0912,R0914,R0915,R0801,E1121
